# RATING PREDICTION [excel sheet]

In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

import warnings
warnings.filterwarnings('ignore')

In [2]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [3]:
url = 'https://www.amazon.in/stores/FitSpark/page/03289505-262C-4EBB-9CAC-319D8E799659?ref_=ast_bln'
driver.get(url)

In [4]:
pro_cam_rating=driver.find_element(By.XPATH,"//a[@class='ProductShowcase__rating__8vVzW']").get_attribute("title")
len(pro_cam_rating)

18

In [5]:
reviews=[]
review_cam=driver.find_elements(By.XPATH,"//a[@class='a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold']")
for i in review_cam[0:100]:
        reviews.append(i.text)
len(reviews)

10

In [6]:
len(pro_cam_rating[0:10]),len(reviews)

(10, 10)

In [7]:
professional_camera=pd.DataFrame()
professional_camera['Rating'] = pro_cam_rating[0:10]
professional_camera['Reviews'] = reviews
professional_camera.fillna(4)

   Rating                                            Reviews
0       4              Very Good camera in its price segment
1       4  Wonderful powerpacked value for money action c...
2       4    Great gadget at a decent price for Motovlogging
3       4                                  GoPro on a Budget
4       4        really reliable product at this price range
5       4                  Nice product with suitable budget
6       4                              Superb Quality Videos
7       4                            Decent budget Camera!!!
8       4                    Value for money 💰 great product
9       4  Its my first action camera and I found it amaz...

In [123]:
driver.close()

In [8]:
driver1= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [9]:
url='https://www.amazon.in/stores/TP-LINKINDIAPVTLTD/page/D20B1819-EE5E-4B48-9D91-B50D3FE431E2?ref_=ast_bln'
driver1.get(url)

In [10]:
router_rating=driver1.find_element(By.XPATH,"//a[@class='ProductShowcase__rating__8vVzW']").get_attribute('title')
len(router_rating)

18

In [11]:
router_rating

'4.2 out of 5 stars'

In [12]:
review_router=[]
router_reviews=driver1.find_elements(By.XPATH,"//a[@class='a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold']")
for i in router_reviews:
    review_router.append(i.text)
time.sleep(2)
len(review_router)

10

In [13]:
len(router_rating[0:10]),len(review_router)

(10, 10)

In [14]:
router=pd.DataFrame()
router['Rating'] = router_rating[0:10]
router['Reviews'] = review_router
router.fillna(4)

   Rating                                            Reviews
0       4                     Best Budget Tri-Band Mesh Wifi
1       4         seamlessly network between different decos
2       4  Excellent Wifi lacks controls, The app is a pr...
3       4  Awesomely superb. Worked well and instant conf...
4       4                                    Wifi 6E signal?
5       4               Rocket 🚀 performance vfm in just 20k
6       4                                 Amazing experience
7       4                                Excellent Mesh Wifi
8       4                              Seamless connectivity
9       4                      Working better than expected!

In [15]:
driver2= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [16]:
url='https://www.amazon.in/stores/page/A0208359-5FA9-41D5-B4AD-F112FA1D922A?ingress=2&visitId=197d3225-8cca-430b-ab50-70406e1a5d65&ref_=ast_bln'
driver2.get(url)

In [17]:
theatre_rate=driver2.find_element(By.XPATH,"//a[@class='ProductShowcase__rating__8vVzW']").get_attribute("title")
len(theatre_rate)

18

In [18]:
theatre_rate

'4.1 out of 5 stars'

In [19]:
theatre_review=[]
home_review=driver2.find_elements(By.XPATH,"//a[@class='a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold']")
for i in home_review:
    theatre_review.append(i.text)
len(theatre_review)

10

In [20]:
home_theatre=pd.DataFrame()
home_theatre['Rating'] = theatre_rate[0:10]
home_theatre['Reviews'] = theatre_review
home_theatre.fillna(4)

   Rating                                            Reviews
0       4                        Good upgrade to TV speakers
1       4  Nice 5.1 Surround sound speaker with worst Blu...
2       4                                          Great buy
3       4                              Best purchase for 12K
4       4               Best in the price segment. Go for it
5       4                            Like the music and bass
6       4  Got an used product. still working fine, excep...
7       4                                       Good product
8       4  9500WS is worth every penny. Best for this price.
9       4                           Sound quality is So good

In [21]:
driver3=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [22]:
url='https://www.flipkart.com/search?q=monitors&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
driver3.get(url)

In [23]:
moni_rate=driver3.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
len(moni_rate)

9

In [24]:
rate=[]
for i in moni_rate:
    rate.append(i.text)
rate

['5', '5', '5', '4', '5', '4', '4', '5', '5']

In [25]:
m_review=[]
moni_review=driver3.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in moni_review:
    m_review.append(i.text)
m_review

['Brilliant',
 'Simply awesome',
 'Terrible product',
 'Must buy!',
 'Wonderful',
 'Terrific',
 'Nice product',
 'Good choice',
 'Highly recommended',
 'Highly recommended']

In [27]:
monitors=pd.DataFrame()
monitors['Rating']=rate
monitors['Reviews']=m_review[0:9]
monitors

  Rating             Reviews
0      5           Brilliant
1      5      Simply awesome
2      5    Terrible product
3      4           Must buy!
4      5           Wonderful
5      4            Terrific
6      4        Nice product
7      5         Good choice
8      5  Highly recommended

In [67]:
driver3.close()

In [28]:
driver4=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [29]:
url='https://www.flipkart.com/canon-pixma-e3370-multi-function-wifi-color-printer-borderless-printing/p/itm2e6c7d964ef40?pid=PRNFMSFZRUAHGYJZ&lid=LSTPRNFMSFZRUAHGYJZZBPK8C&marketplace=FLIPKART&q=printers&store=6bo%2Ftia%2Fffn&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=en_lNJQz2ayZXIsfDndnbUCejDGkqjxsDvzJquRmSmI8BWKahQklgbZV70e9mhxzw8bXZPin5BZ1Z28wAUJTEimrQ%3D%3D&ppt=sp&ppn=sp&ssid=kpuspu52o00000001666793381671&qH=bde829af57ecb10f'
driver4.get(url)

In [33]:
print_rating=[]
rate=driver4.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for j in rate:
    print_rating.append(j.text)
len(print_rating)

10

In [34]:
print_review=[]
review=driver4.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for k in review:
    print_review.append(k.text)
len(print_review)

10

In [35]:
printers=pd.DataFrame()
printers['Rating'] = print_rating
printers['Reviews'] = print_review
printers

  Rating       Reviews
0      4    Delightful
1      3    Quite Good
2      4  Nice product
3      5     Excellent
4      4  Nice product
5      5        Super!
6      5      Terrific
7      5     Wonderful
8      5     Wonderful
9      3          Fair

In [66]:
driver4.close()

In [36]:
driver5=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [37]:
url='https://www.flipkart.com/fire-boltt-wonder-bt-calling-1-8-inch-hd-display-smartwatch/p/itmab9671bfe8f23?pid=SMWGFKRFAZBSBQ3C&lid=LSTSMWGFKRFAZBSBQ3C3WZMCN&marketplace=FLIPKART&q=smartwatches&store=ajy%2Fbuh&srno=s_1_2&otracker=search&otracker1=search&fm=Search&iid=af035716-e26a-4332-86f5-b8941aef1691.SMWGFKRFAZBSBQ3C.SEARCH&ppt=dynamic&ppn=LOYALTY_PAGE&ssid=cvadprm0hs0000001666794174476&qH=fbe9e8df937d2d17'
driver5.get(url)

In [38]:
smart_rating=[]
rate_s=driver5.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rate_s:
    smart_rating.append(i.text)
len(smart_rating)

10

In [39]:
smart_reviews=[]
review_s=driver5.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for j in review_s:
    smart_reviews.append(j.text)
len(smart_reviews)

10

In [40]:
smartwatches=pd.DataFrame()
smartwatches['Rating']=smart_rating
smartwatches['Reviews']=smart_reviews
smartwatches

  Rating                Reviews
0      5  Mind-blowing purchase
1      5              Brilliant
2      4            Good choice
3      4           Nice product
4      5               Terrific
5      5              Just wow!
6      5    Best in the market!
7      5     Highly recommended
8      5              Excellent
9      5         Simply awesome

In [65]:
driver5.close()

In [41]:
driver6=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [42]:
url='https://www.flipkart.com/sony-310ap-wired-headset/product-reviews/itmd2997107336aa?pid=ACCDQZAUQJUJ7CAG&lid=LSTACCDQZAUQJUJ7CAG5A5T9S&marketplace=FLIPKART'
driver6.get(url)

In [43]:
head_rate=[]
phn_rating=driver6.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in phn_rating:
    head_rate.append(i.text)
len(head_rate)

10

In [44]:
head_review=[]
phn_reviews=driver6.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in phn_reviews:
    head_review.append(i.text)
len(head_review)

10

In [45]:
headphones=pd.DataFrame()
headphones['Rating']=head_rate
headphones['Reviews']=head_review
headphones

  Rating                      Reviews
0      5                     Terrific
1      4              Worth the money
2      4         Good quality product
3      5                    Brilliant
4      5                    Wonderful
5      5                    Just wow!
6      5                      Awesome
7      3          Great one from Sony
8      3                 Does the job
9      5  #reviewJockey(RJ Arnab Dey)

In [64]:
driver6.close()

In [46]:
driver7=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [47]:
url='https://www.flipkart.com/samsung-galaxy-f13-nightsky-green-64-gb/product-reviews/itmeadfda1bd23fa?pid=MOBGENJWF4KJTPEN&lid=LSTMOBGENJWF4KJTPENAUQVSZ&marketplace=FLIPKART'
driver7.get(url)

In [48]:
rate=[]
phn_rate=driver7.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in phn_rate:
    rate.append(i.text)
len(rate)

10

In [49]:
review=[]
phn_review=driver7.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in phn_review:
    review.append(i.text)
len(review)

10

In [50]:
phones=pd.DataFrame()
phones['Rating']=rate
phones['Reviews']=review
phones

  Rating                Reviews
0      5               Terrific
1      5              Excellent
2      5              Excellent
3      3                   Fair
4      4           Nice product
5      5  Mind-blowing purchase
6      4        Value-for-money
7      5              Just wow!
8      5      Terrific purchase
9      4             Delightful

In [63]:
driver7.close()

In [51]:
driver8=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [52]:
url='https://www.flipkart.com/hp-athlon-dual-core-3050u-8-gb-512-gb-ssd-windows-11-home-15s-eq1559au-thin-light-laptop/product-reviews/itm805c7d908648d?pid=COMGG63HRV3GFN4G&lid=LSTCOMGG63HRV3GFN4GPLQ1JG&marketplace=FLIPKART'
driver8.get(url)

In [53]:
lap_rate=[]
rating=driver8.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    lap_rate.append(i.text)
len(lap_rate)

10

In [54]:
lap_review=[]
reviews=driver8.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in reviews:
    lap_review.append(i.text)
len(lap_review)

10

In [55]:
laptops=pd.DataFrame()
laptops['Rating']=lap_rate
laptops['Reviews']=lap_review
laptops

  Rating                Reviews
0      5          Great product
1      4           Nice product
2      5      Terrific purchase
3      5                 Super!
4      4            Good choice
5      4   Good quality product
6      5  Mind-blowing purchase
7      5               Terrific
8      5                Awesome
9      3              Just okay

In [62]:
driver8.close()

In [69]:
driver9=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [70]:
url='https://www.flipkart.com/aneep-drawing-lcd-writing-tablet-8-5-inch-board-doodle-pad-newest-pressure-sensitive-technology-best-birthday-gift-toy-kids-baby-boy-girl-led-learning-educational-game-tab/product-reviews/itm222acf17aadc2?pid=ETYG7ZR3SWCVA4KZ&lid=LSTETYG7ZR3SWCVA4KZD9EGS2&marketplace=FLIPKART'
driver9.get(url)

In [71]:
e_rate=[]
rating=driver9.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    e_rate.append(i.text)
len(e_rate)

10

In [72]:
e_review=[]
review=driver9.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in review:
    e_review.append(i.text)
len(e_review)

10

In [73]:
e_learning=pd.DataFrame()
e_learning['Rating']=e_rate
e_learning['Reviews']=e_review
e_learning

  Rating                Reviews
0      5  Mind-blowing purchase
1      5  Mind-blowing purchase
2      5              Brilliant
3      5       Perfect product!
4      5              Fabulous!
5      5              Excellent
6      4            Pretty good
7      5         Classy product
8      4            Pretty good
9      5              Just wow!

In [74]:
driver9.close()

In [186]:
driver10=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [187]:
url='https://www.flipkart.com/mivi-play-5-w-portable-bluetooth-speaker/product-reviews/itm9dcdfcd2431db?pid=ACCG25T3Z4CHBUAP&lid=LSTACCG25T3Z4CHBUAP3YVWZ1&marketplace=FLIPKART'
driver10.get(url)

In [188]:
sp_rate=[]
rating=driver10.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq' ]")
for i in rating:
    sp_rate.append(i.text)
len(sp_rate)

10

In [189]:
sp_review=[]
review=driver10.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in review:
    sp_review.append(i.text)
len(sp_review)

10

In [190]:
bluetooth_speaker=pd.DataFrame()
bluetooth_speaker['Rating']=sp_rate
bluetooth_speaker['Reviews']=sp_review
bluetooth_speaker

  Rating            Reviews
0      5  Worth every penny
1      4    Value-for-money
2      5     Simply awesome
3      5           Terrific
4      5             Super!
5      5          Must buy!
6      5            Awesome
7      5  Terrific purchase
8      5     Classy product
9      5          Wonderful

In [191]:
driver10.close()

In [89]:
driver11=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [91]:
url='https://www.amazon.in/stores/page/845B3489-4807-44AF-9408-945FEB20FBAB?ingress=2&visitId=dde693da-3249-4b87-9b28-5a5571935757&ref_=ast_bln'
driver11.get(url)

In [92]:
sec_rate=driver11.find_element(By.XPATH,"//a[@class='ProductShowcase__rating__8vVzW']").get_attribute("title")
len(sec_rate)

18

In [93]:
sec_review=[]
review_cam=driver11.find_elements(By.XPATH,"//a[@class='a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold']")
for i in review_cam:
    sec_review.append(i.text)
len(sec_review)

10

In [96]:
security_camera=pd.DataFrame()
security_camera['Rating'] = sec_rate[0:10]
security_camera['Reviews'] = sec_review
security_camera.fillna(5)

   Rating                                            Reviews
0       5             MEMERY CARD NOT 🚫 SPORT SAND DICK 32GB
1       5                      Valie for money.. Recommended
2       5  Other than initial hiccups, some (Mi Home app)...
3       5  Box was not sealed protective film was absent ...
4       5                          Gives a good night vision
5       5                                      Decent camera
6       5                                       Good product
7       5             Best cam after trying all other brands
8       5            Camera not working after few months use
9       5                   Read this for easy installation.

In [97]:
driver11.close()

In [98]:
driver12=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [99]:
url='https://www.amazon.in/stores/page/preview/ref=s9_acss_bw_cg_HP_5a1_w?isPreview=1&isSlp=1&asins=B0B6P3PRQR%2CB0B6PW8H9Y%2CB0B6NYX191&pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-10&pf_rd_r=9EBGFHW4CR4AFZ1KE1VD&pf_rd_t=101&pf_rd_p=92216e8f-6238-4833-8e72-ee31316d2a40&pf_rd_i=1375248031'
driver12.get(url)

In [100]:
cool_rate=driver12.find_element(By.XPATH,"//a[@class='ProductShowcase__rating__8vVzW']").get_attribute("title")
len(cool_rate)

18

In [101]:
cool_review=[]
p_review=driver12.find_elements(By.XPATH,"//a[@class='a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold']")
for i in p_review:
    cool_review.append(i.text)
len(cool_review)

10

In [102]:
cooling_pad=pd.DataFrame()
cooling_pad['Rating']=cool_rate[0:10]
cooling_pad['Reviews']=cool_review
cooling_pad.fillna(4)

   Rating                                          Reviews
0       4                           Small fans are exhaust
1       4                      Good product but overprized
2       4  This design puts your health on first priority.
3       4                                 Fully Satisfied!
4       4                                Totally Worth It!
5       4                         Great product for laptop
6       4                               Absolutely Amazing
7       4                    Durable with Premium Features
8       4                               Good Build Quality
9       4                                   Great Product!

In [103]:
driver12.close()

In [104]:
driver13=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [105]:
url='https://www.amazon.in/stores/page/2BDB9013-C37A-4AEF-B7A2-518D9F777787?ingress=2&visitId=93481bb1-8226-4a2a-b78a-4638bd4acbe8&ref_=ast_bln'
driver13.get(url)

In [107]:
air_rate=driver13.find_element(By.XPATH,"//a[@class='ProductShowcase__rating__8vVzW']").get_attribute("title")
len(air_rate)

18

In [108]:
air_review=[]
po_review=driver13.find_elements(By.XPATH,"//a[@class='a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold']")
for i in po_review:
    air_review.append(i.text)
len(air_review)

10

In [111]:
airdopes=pd.DataFrame()
airdopes['Rating']=air_rate[0:10]
airdopes['Reviews']=air_review
airdopes.fillna(4)

   Rating                                            Reviews
0       4                                               Good
1       4                   Awesome earbuds in this range 👍👍
2       4                                    Value for Money
3       4                                    Value for money
4       4  Overall a great product, ears hurt after using...
5       4                                        Good sound.
6       4   It's worth the cost . The sound quality is good.
7       4                                      Good products
8       4                                       Okay quality
9       4                                               Good

In [112]:
driver13.close()

In [113]:
driver14=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [114]:
url='https://www.flipkart.com/fashion-story-rechargeable-electronic-toothbrush-6-modes-4-brush-heads-fast-charging-electric/product-reviews/itmf4cf83aed1717?pid=ETBGFZDPPWS9RGU2&lid=LSTETBGFZDPPWS9RGU2EBVBEF&marketplace=FLIPKART'
driver14.get(url)

In [115]:
b_rate=[]
rate_electric=driver14.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rate_electric:
    b_rate.append(i.text)
len(b_rate)

6

In [116]:
b_review=[]
review_electric=driver14.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in review_electric:
    b_review.append(i.text)
len(b_review)

7

In [117]:
electric_brush=pd.DataFrame()
electric_brush['Rating']=b_rate
electric_brush['Reviews']=b_review[0:6]
electric_brush

  Rating                 Reviews
0      4               Wonderful
1      5               Excellent
2      5        Perfect product!
3      5               Just wow!
4      3  Not recommended at all
5      4            Does the job

In [118]:
driver14.close()

In [119]:
driver15=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [120]:
url='https://www.flipkart.com/canon-eos-3000d-dslr-camera-1-body-18-55-mm-lens/product-reviews/itm6f665fea97bc2?pid=CAMF3DHJURPEMNRN&lid=LSTCAMF3DHJURPEMNRN8AVERV&marketplace=FLIPKART'
driver15.get(url)

In [122]:
ca_rate=[]
d_rate=driver15.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in d_rate:
    ca_rate.append(i.text)
len(ca_rate)

10

In [123]:
ca_review=[]
d_review=driver15.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in d_review:
    ca_review.append(i.text)
len(ca_review)

10

In [124]:
DSLR=pd.DataFrame()
DSLR['Rating']=ca_rate
DSLR['Reviews']=ca_review
DSLR

  Rating               Reviews
0      5             Must buy!
1      4           Really Nice
2      5             Excellent
3      3          Does the job
4      5             Just wow!
5      4       Worth the money
6      5         Great product
7      4           Really Nice
8      4  Good quality product
9      5   Best in the market!

In [127]:
driver15.close()

In [128]:
driver16=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [129]:
url='https://www.flipkart.com/ikigai-japanese-secret-long-happy-life/product-reviews/itma5a3a3dd292df?pid=9781786330895&lid=LSTBOK9781786330895HQGF7J&marketplace=FLIPKART'
driver16.get(url)

In [130]:
bo_rate=[]
non_rate=driver16.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in non_rate:
    bo_rate.append(i.text)
len(bo_rate)

9

In [135]:
bo_review=[]
non_review=driver16.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in non_review:
    bo_review.append(i.text)
len(bo_review)

10

In [179]:
non_fiction=pd.DataFrame()
non_fiction['Rating']=bo_rate
non_fiction['Reviews']=bo_review[0:9]
non_fiction

  Rating                                            Reviews
0      5                                         goodread!!
1      5                                             Super!
2      5                                          Brilliant
3      5                                 Highly recommended
4      5                                     Simply awesome
5      5                                          Just wow!
6      5  A waste of time, collection of general advice,...
7      5                                   Perfect product!
8      5                                          Excellent

In [139]:
driver16.close()

In [140]:
driver17=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [141]:
url='https://www.flipkart.com/psychology-money-morgen-housel/product-reviews/itm37e3b5ac4740b?pid=9789390166268&lid=LSTBOK9789390166268W7PJT8&marketplace=FLIPKART'
driver17.get(url)

In [142]:
self_rate=[]
help_rate=driver17.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in help_rate:
    self_rate.append(i.text)
len(self_rate)

10

In [143]:
self_review=[]
help_review=driver17.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in help_review:
    self_review.append(i.text)
len(self_review)

10

In [180]:
self_help_book=pd.DataFrame()
self_help_book['Rating']=self_rate
self_help_book['Reviews']=self_review
self_help_book

  Rating            Reviews
0      5          Brilliant
1      5     Simply awesome
2      5          Just wow!
3      4    Value-for-money
4      5          Wonderful
5      5          Brilliant
6      5          Wonderful
7      5     Simply awesome
8      5  Terrific purchase
9      4        Pretty good

In [145]:
driver17.close()

In [146]:
driver18=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [147]:
url='https://www.flipkart.com/mi-3i-20000-mah-power-bank-fast-charging-18w/product-reviews/itmd42cbbe08e65e?pid=PWBFVGXXFGEBYRF5&lid=LSTPWBFVGXXFGEBYRF514LSY9&marketplace=FLIPKART'
driver18.get(url)

In [148]:
power_rate=[]
rating=driver18.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    power_rate.append(i.text)
len(power_rate)

9

In [150]:
power_review=[]
reviews=driver18.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in reviews:
    power_review.append(i.text)
len(power_review)

10

In [151]:
powerbanks=pd.DataFrame()
powerbanks['Rating']=power_rate
powerbanks['Reviews']=power_review[0:9]
powerbanks

  Rating               Reviews
0      4          Nice product
1      4  Good quality product
2      5             Fabulous!
3      5                Super!
4      5             Must buy!
5      5             Must buy!
6      5           Bad quality
7      4    Highly recommended
8      5             Wonderful

In [152]:
driver18.close()

In [153]:
driver19=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [154]:
url='https://www.amazon.in/stores/page/3D50CF8C-D373-466C-BC7B-FFE561FEE79F?ingress=2&visitId=0d577d19-57ff-4862-b7fd-16c5699eea63&ref_=ast_bln'
driver19.get(url)

In [157]:
digit_rate=driver19.find_element(By.XPATH,"//a[@class='ProductShowcase__rating__8vVzW']").get_attribute('title')
len(digit_rate)

18

In [159]:
digit_review=[]
piano_review=driver19.find_elements(By.XPATH,"//a[@class='a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold']")
for i in piano_review:
    digit_review.append(i.text)
len(digit_review)

5

In [161]:
piano=pd.DataFrame()
piano['Rating']=digit_rate[0:5]
piano['Reviews']=digit_review
piano.fillna(5)

   Rating                                            Reviews
0       5  Great piece for both beginners and intermediates.
1       5                                               Good
2       5                                    Value for money
3       5                          It is the best, loved it.
4       5                                  Music is amazing.

In [162]:
driver19.close()

In [163]:
driver20=webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (2)\chromedriver.exe')
time.sleep(2)

In [164]:
url='https://www.amazon.in/stores/page/1F91C8C8-9695-470B-981E-0F7E70D3AA50?ingress=2&visitId=d111cc5e-53ef-4c83-b48b-dbc50c6c9603&ref_=ast_bln'
driver20.get(url)

In [167]:
rate=driver20.find_element(By.XPATH,"//a[@class='ProductShowcase__rating__8vVzW']").get_attribute('title')
len(rate)

18

In [169]:
stand=[]
review=driver20.find_elements(By.XPATH,"//a[@class='a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold']")
for i in review:
    stand.append(i.text)
len(stand)

10

In [172]:
mobile_stand=pd.DataFrame()
mobile_stand['Rating']=rate[0:10]
mobile_stand['Reviews']=stand
mobile_stand.fillna(3)

   Rating                                            Reviews
0       3    Adhesive is not Good. Product utility is great.
1       3                              Rattles, otherwise ok
2       3  Not a universal holder , specially not for iPh...
3       3                                   Hopeless adssive
4       3                              Reasonably good produ
5       3                              Disappointing product
6       3                        The best type in the market
7       3                                              noisy
8       3                                    Too much Costly
9       3  The gel is totally dry so not able to fix it o...

In [173]:
driver20.close()

In [192]:
print(professional_camera.fillna(4))
print(router.fillna(4))
print(home_theatre.fillna(4))
print(monitors)
print(printers)
print(smartwatches)
print(headphones)
print(phones)
print(laptops)
print(e_learning)
print(bluetooth_speaker)
print(security_camera.fillna(5))
print(cooling_pad.fillna(4))
print(airdopes.fillna(4))
print(electric_brush)
print(DSLR)
print(non_fiction)
print(self_help_book)
print(powerbanks)
print(piano.fillna(5))
print(mobile_stand.fillna(3))

   Rating                                            Reviews
0       4              Very Good camera in its price segment
1       4  Wonderful powerpacked value for money action c...
2       4    Great gadget at a decent price for Motovlogging
3       4                                  GoPro on a Budget
4       4        really reliable product at this price range
5       4                  Nice product with suitable budget
6       4                              Superb Quality Videos
7       4                            Decent budget Camera!!!
8       4                    Value for money 💰 great product
9       4  Its my first action camera and I found it amaz...
   Rating                                            Reviews
0       4                     Best Budget Tri-Band Mesh Wifi
1       4         seamlessly network between different decos
2       4  Excellent Wifi lacks controls, The app is a pr...
3       4  Awesomely superb. Worked well and instant conf...
4       4                                    Wifi 6E signal?
5       4               Rocket 🚀 performance vfm in just 20k
6       4                                 Amazing experience
7       4                                Excellent Mesh Wifi
8       4                              Seamless connectivity
9       4                      Working better than expected!
   Rating                                            Reviews
0       4                        Good upgrade to TV speakers
1       4  Nice 5.1 Surround sound speaker with worst Blu...
2       4                                          Great buy
3       4                              Best purchase for 12K
4       4               Best in the price segment. Go for it
5       4                            Like the music and bass
6       4  Got an used product. still working fine, excep...
7       4                                       Good product
8       4  9500WS is worth every penny. Best for this price.
9       4                           Sound quality is So good
  Rating             Reviews
0      5           Brilliant
1      5      Simply awesome
2      5    Terrible product
3      4           Must buy!
4      5           Wonderful
5      4            Terrific
6      4        Nice product
7      5         Good choice
8      5  Highly recommended
  Rating       Reviews
0      4    Delightful
1      3    Quite Good
2      4  Nice product
3      5     Excellent
4      4  Nice product
5      5        Super!
6      5      Terrific
7      5     Wonderful
8      5     Wonderful
9      3          Fair
  Rating                Reviews
0      5  Mind-blowing purchase
1      5              Brilliant
2      4            Good choice
3      4           Nice product
4      5               Terrific
5      5              Just wow!
6      5    Best in the market!
7      5     Highly recommended
8      5              Excellent
9      5         Simply awesome
  Rating                      Reviews
0      5                     Terrific
1      4              Worth the money
2      4         Good quality product
3      5                    Brilliant
4      5                    Wonderful
5      5                    Just wow!
6      5                      Awesome
7      3          Great one from Sony
8      3                 Does the job
9      5  #reviewJockey(RJ Arnab Dey)
  Rating                Reviews
0      5               Terrific
1      5              Excellent
2      5              Excellent
3      3                   Fair
4      4           Nice product
5      5  Mind-blowing purchase
6      4        Value-for-money
7      5              Just wow!
8      5      Terrific purchase
9      4             Delightful
  Rating                Reviews
0      5          Great product
1      4           Nice product
2      5      Terrific purchase
3      5                 Super!
4      4            Good choice
5      4   Good quality product
6      5  Mind-blowing purchase
7      5               Terrific
8      5                Awesome
9      3              Just okay
  Rating                Reviews
0      5  Mind-blowing purchase
1      5  Mind-blowing purchase
2      5              Brilliant
3      5       Perfect product!
4      5              Fabulous!
5      5              Excellent
6      4            Pretty good
7      5         Classy product
8      4            Pretty good
9      5              Just wow!
  Rating            Reviews
0      5  Worth every penny
1      4    Value-for-money
2      5     Simply awesome
3      5           Terrific
4      5             Super!
5      5          Must buy!
6      5            Awesome
7      5  Terrific purchase
8      5     Classy product
9      5          Wonderful
   Rating                                            Reviews
0       5             MEMERY CARD NOT 🚫 SPORT SAND DICK 32GB
1       5                      Valie for money.. Recommended
2       5  Other than initial hiccups, some (Mi Home app)...
3       5  Box was not sealed protective film was absent ...
4       5                          Gives a good night vision
5       5                                      Decent camera
6       5                                       Good product
7       5             Best cam after trying all other brands
8       5            Camera not working after few months use
9       5                   Read this for easy installation.
   Rating                                          Reviews
0       4                           Small fans are exhaust
1       4                      Good product but overprized
2       4  This design puts your health on first priority.
3       4                                 Fully Satisfied!
4       4                                Totally Worth It!
5       4                         Great product for laptop
6       4                               Absolutely Amazing
7       4                    Durable with Premium Features
8       4                               Good Build Quality
9       4                                   Great Product!
   Rating                                            Reviews
0       4                                               Good
1       4                   Awesome earbuds in this range 👍👍
2       4                                    Value for Money
3       4                                    Value for money
4       4  Overall a great product, ears hurt after using...
5       4                                        Good sound.
6       4   It's worth the cost . The sound quality is good.
7       4                                      Good products
8       4                                       Okay quality
9       4                                               Good
  Rating                 Reviews
0      4               Wonderful
1      5               Excellent
2      5        Perfect product!
3      5               Just wow!
4      3  Not recommended at all
5      4            Does the job
  Rating               Reviews
0      5             Must buy!
1      4           Really Nice
2      5             Excellent
3      3          Does the job
4      5             Just wow!
5      4       Worth the money
6      5         Great product
7      4           Really Nice
8      4  Good quality product
9      5   Best in the market!
  Rating                                            Reviews
0      5                                         goodread!!
1      5                                             Super!
2      5                                          Brilliant
3      5                                 Highly recommended
4      5                                     Simply awesome
5      5                                          Just wow!
6      5  A waste of time, collection of general advice,...
7      5                                   Perfect product!
8      5                                          Excellent
  Rating            Reviews
0      5          Brilliant
1      5     Simply awesome
2      5          Just wow!
3      4    Value-for-money
4      5          Wonderful
5      5          Brilliant
6      5          Wonderful
7      5     Simply awesome
8      5  Terrific purchase
9      4        Pretty good
  Rating               Reviews
0      4          Nice product
1      4  Good quality product
2      5             Fabulous!
3      5                Super!
4      5             Must buy!
5      5             Must buy!
6      5           Bad quality
7      4    Highly recommended
8      5             Wonderful
   Rating                                            Reviews
0       5  Great piece for both beginners and intermediates.
1       5                                               Good
2       5                                    Value for money
3       5                          It is the best, loved it.
4       5                                  Music is amazing.
   Rating                                            Reviews
0       3    Adhesive is not Good. Product utility is great.
1       3                              Rattles, otherwise ok
2       3  Not a universal holder , specially not for iPh...
3       3                                   Hopeless adssive
4       3                              Reasonably good produ
5       3                              Disappointing product
6       3                        The best type in the market
7       3                                              noisy
8       3                                    Too much Costly
9       3  The gel is totally dry so not able to fix it o...

In [193]:
frames=[professional_camera.fillna(4),router.fillna(4),home_theatre.fillna(4),monitors,printers,smartwatches,phones,headphones,laptops,e_learning,bluetooth_speaker,security_camera.fillna(5),cooling_pad.fillna(4),airdopes.fillna(4),electric_brush,DSLR,non_fiction,self_help_book,powerbanks,piano.fillna(5),mobile_stand.fillna(3)]

In [194]:
result=pd.concat(frames)
result

   Rating                                            Reviews
0       4              Very Good camera in its price segment
1       4  Wonderful powerpacked value for money action c...
2       4    Great gadget at a decent price for Motovlogging
3       4                                  GoPro on a Budget
4       4        really reliable product at this price range
..    ...                                                ...
5       3                              Disappointing product
6       3                        The best type in the market
7       3                                              noisy
8       3                                    Too much Costly
9       3  The gel is totally dry so not able to fix it o...

[198 rows x 2 columns]

In [196]:
result.to_csv(r'C:\Users\user\Desktop\FRTech Internship Project\RATING PREDICTION\prediction excel sheet.csv')

## THANK YOU